USE [DatliSozlukDB]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 11.12.2021 11:39:32 ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutID] [int] IDENTITY(1,1) NOT NULL,
	[AboutDetails1] [nvarchar](500) NULL,
	[AboutDetails2] [nvarchar](1000) NULL,
	[AboutImage1] [nvarchar](100) NULL,
	[AboutImage2] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Admins]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserName] [nvarchar](50) NULL,
	[AdminPassword] [nvarchar](50) NULL,
	[AdminRole] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryDescription] [nvarchar](200) NULL,
	[CategoryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[ContactDate] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contents]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[ContentValue] [nvarchar](1000) NULL,
	[ContentDate] [datetime] NOT NULL,
	[HeadingID] [int] NOT NULL,
	[WriterID] [int] NULL,
	[ContentStatus] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Headings]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headings](
	[HeadingID] [int] IDENTITY(1,1) NOT NULL,
	[HeadingName] [nvarchar](100) NULL,
	[HeadingDate] [datetime] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[WriterID] [int] NOT NULL,
	[HeadingStatus] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Headings] PRIMARY KEY CLUSTERED 
(
	[HeadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderMail] [nvarchar](50) NULL,
	[ReceiverMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](200) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[MessageDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Writers]    Script Date: 11.12.2021 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writers](
	[WriterID] [int] IDENTITY(1,1) NOT NULL,
	[WriterName] [nvarchar](50) NULL,
	[WriterSurname] [nvarchar](50) NULL,
	[WriterImage] [nvarchar](250) NULL,
	[WriterMail] [nvarchar](200) NULL,
	[WriterPassword] [nvarchar](200) NULL,
	[WriterAbout] [nvarchar](100) NULL,
	[WriterTitle] [nvarchar](50) NULL,
	[WriterStatus] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Writers] PRIMARY KEY CLUSTERED 
(
	[WriterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (1, N'deneme', N'test', N'görsel1', N'görsel2')
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (2, N'deneme', N'test', N'görsel1', N'görsel2')
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (3, N'aaa', N'ddd', N'ffff', N'sss')
SET IDENTITY_INSERT [dbo].[Abouts] OFF
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (1, N'admin@gmail.com', N'000011', N'A')
INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (2, N'admin2@gmail.com', N'0003', N'B')
INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (3, N'admin3@gmail.com', N'00004', N'A')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (1, N'Eğitim', N'Eğitim kategorisidir', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (2, N'Tiyatro', N'Tiyatro kategorsiidir', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (3, N'Kitap', N'Kitap Kategorisidir', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (1, N'Ali Yıldız', N'yildiz@gmail.com', N'Teşekkür', N'geçenlerde bir tiyatro oyunana gitmeden önce yorumlar için çok teşekkürler.', CAST(N'2021-06-02 00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (2, N'Ayşe Çınar', N'acinar@gmail.com', N'Rica', N'Yazılım için hangi konudan başlamalıyım.', CAST(N'2021-03-05 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Contents] ON 

INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (1, N'Walter Özledik', CAST(N'2021-04-17 00:00:00.000' AS DateTime), 3, 3, 1)
INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (2, N'Kucuk Walter gel', CAST(N'2021-04-17 00:00:00.000' AS DateTime), 3, 4, 1)
INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [HeadingID], [WriterID], [ContentStatus]) VALUES (3, N'Bu film 2019 ylılında Oskar ödülü aldı', CAST(N'2021-04-18 00:00:00.000' AS DateTime), 8, 3, 1)
SET IDENTITY_INSERT [dbo].[Contents] OFF
SET IDENTITY_INSERT [dbo].[Headings] ON 

INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (3, N'Breaking Bad', CAST(N'2021-04-17 00:00:00.000' AS DateTime), 3, 3, 1)
INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (8, N'Green Book', CAST(N'2021-04-17 00:00:00.000' AS DateTime), 6, 2, 1)
INSERT [dbo].[Headings] ([HeadingID], [HeadingName], [HeadingDate], [CategoryID], [WriterID], [HeadingStatus]) VALUES (9, N'İtiraflarım ve Oyunları', CAST(N'2021-04-17 00:00:00.000' AS DateTime), 4, 1, 1)
SET IDENTITY_INSERT [dbo].[Headings] OFF
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (1, N'Berlin', N'/AdminLTE-3.0.4/image/Berlin.jpg')
INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (2, N'Helsinki', N'/AdminLTE-3.0.4/image/Helsinki.jpg')
INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (3, N'Newyork', N'/AdminLTE-3.0.4/image/Newyork.jpg')
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (1, N'aliyildiz@gmail.com', N'admin@gmail.com', N'feefefefgfeg', N'deneme', CAST(N'2021-02-21 00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (5, N'mcinar@gmail.com', N'aliyildiz@gmail.com', N'Soru', N'c#takıldığım bir noktada yardımcı olur musun?', CAST(N'2021-02-19 00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (6, N'gyildiz@hotmail.com', N'yilmaz@gmail.com', N'Şifre', N'şifremi değiştirmek istediğimde hata alıyorum', CAST(N'2021-04-24 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Writers] ON 

INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (1, N'Ali ', N'Yıldız', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAcGlFwTPPkSikiDw0a76xWDF76v6uR2yTjQ&usqp=CAU', N'aliyiz@gmail.com', N'1', N'Yazılım Mühendisi', N'Mimar', 1)
INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (2, N'Mehmet ', N'Çınar', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAcGlFwTPPkSikiDw0a76xWDF76v6uR2yTjQ&usqp=CAU', N'mcinar@gmail.com', N'12', N'Senior Developer', N'Blogger', 1)
INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (3, N'Emel', N'Öztürk', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAcGlFwTPPkSikiDw0a76xWDF76v6uR2yTjQ&usqp=CAU', N'eoztur@gmail.com', N'123', N'Tiyatro sever', N'Tur Rehberi', 1)
SET IDENTITY_INSERT [dbo].[Writers] OFF
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterID] FOREIGN KEY([WriterID])
REFERENCES [dbo].[Writers] ([WriterID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterID]
GO
